html {
    background-color: silver;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    float: left;
    background-color: silver;
}
#navbar ul {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}
#navbar li {
    list-style: none;
    padding: 7px;
    padding-left: 45px;
    border: 1px solid;
    border-bottom-width: 0px;
    left: -50px;
    width: 100%;
    position: relative;
}
header {
    font-size: 25px;
    text-align: center;
}
.nav-link {
    text-decoration: none;
    color: black;
}
section {
    padding: 10px 250px;
    margin-left: 300px;
    margin-bottom: 50px;
}
code {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gold;
}
@media screen and (max-width: 800px) {
    #navbar {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        max-height: 270px;
    }
}
